[submodule "sanalyzer/py_frame"]
	path = sanalyzer/py_frame
	url = https://github.com/AccelProf/py_frame.git
[submodule "sanalyzer/cpp_trace"]
	path = sanalyzer/cpp_trace
	url = https://github.com/AccelProf/cpp_trace.git
[submodule "tensor_scope"]
	path = tensor_scope
	url = https://github.com/AccelProf/tensor_scope.git
[submodule "nv-nvbit"]
	path = nv-nvbit
	url = https://github.com/AccelProf/nv-nvbit.git
[submodule "docs"]
	path = docs
	url = https://github.com/AccelProf/docs.git
[submodule "amd-rocm"]
	path = amd-rocm
	url = https://github.com/AccelProf/amd-rocm.git
[submodule "third_party/libbacktrace"]
	path = third_party/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
