[submodule "sanalyzer"]
	path = sanalyzer
	url = https://github.com/FlagZhao/sanalyzer
	branch = cuVein
[submodule "nv-compute"]
	path = nv-compute
	url = https://github.com/FlagZhao/nv-compute
	branch = cuVein	
[submodule "nv-nvbit"]
	path = nv-nvbit
	url = https://github.com/AccelProf/nv-nvbit.git
[submodule "docs"]
	path = docs
	url = https://github.com/AccelProf/docs.git
[submodule "amd-rocm"]
	path = amd-rocm
	url = https://github.com/AccelProf/amd-rocm.git
[submodule "third_party/libbacktrace"]
	path = third_party/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
