*.fatbin
*.so
*.pyc
*.log
run.sh
./benchmark_overhead.sh
./setup_env.sh


.vscode/
.env/
.claude/
example/
test/
lib/
obj/
build/
third_party/pc_dependency_gui/previous_version/
third_party/libbacktrace/
third_party/pybind11/
paper/
pdfs/

ScoR/
cuHadron/